//--------------------------------------------------------------
// Site Content
//--------------------------------------------------------------

// Posts and pages

.entry-title {
	@include position(relative, -16px null null null);

	color: $color-cod-gray;
	font-size: 36px;
	margin: 0;


	.single-portfolio & {
		&:after {
			@include size(25% 3px);

			background-color: $color-turq;
			border-radius: 1.5px;
			content: "";
			display: block;
		}
	}

	.page-template-default & {
		&:after {
			@include size(10% 3px);

			background-color: $color-turq;
			border-radius: 1.5px;
			content: "";
			display: block;
		}
	}

	.blog & {
		top: initial;
	}
} // entry-title

.entry-header {
	margin-bottom: $gutter * 2;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 24px 0;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-summary {
	margin: 24px 0 0;
}

.entry-content {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 24px 0;
}

.edit-link {
	margin: 0 24px 0 0;
}

// Asides

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}
