.cpt {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(1, 300px);
	grid-template-rows: repeat(1, 1fr);

	@include media($phone-landscape) {
		grid-template-columns: repeat(2, 300px);
		grid-template-rows: repeat(2, 1fr);
	}

	@include media($tablet-landscape) {
		grid-gap: 5px;
		grid-template-columns: repeat(2, unquote("[odd-start] 75px [even-end] 75px [odd-mid] 75px [even-start] 75px [odd-end] 75px [even-mid] 75px"));
		grid-template-rows: repeat(2, unquote("[even-start even-end] 125px [odd-start odd-end] 125px"));
		margin: 5% auto 0;
		width: 75vw;
	}

	article {
		@include size(300px 260px);

		background-color: $color-river;
		background-position: center;
		background-size: cover;
		box-shadow: 0 1px 1px 0 rgba($color-river, 0.4);
		box-sizing: border-box;
		clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
		font-size: 25px;

		@include media($tablet-landscape) {
			grid-area: span 2 / span 4;
		}

		&:after,
		&:before {
			@include size(100%);

			content: "";
			position: absolute;
			transition: background-color 0.2s linear;
			z-index: 2;
		} // &:after

		$colors: (#00ff40, #fe028d, #00ebc0, #f8d300);

		@for $i from 1 through length($colors) {

			&:nth-of-type(#{$i}):hover,
			&:nth-of-type(#{$i}):focus {
				&:after {
					background-color: rgba(nth($colors, $i), 0.7);
				}
			}
		} // for loop

		// Hover effect.
		&:hover,
		&:focus {

			&:nth-of-type(odd) {
				transform: rotate(-2deg);
			}

			&:nth-of-type(even) {
				transform: rotate(4deg);
			}

			.cpt-title {
				@include position(absolute, 50% null null 0);

				box-sizing: border-box;
				color: $color-white;
				display: block;
				margin: 0;
				padding: 0 20px;
				text-align: center;
				transform: translateY(-50%);
				width: 100%;
			}
		} // &:hover

		// Title.
		.cpt-title {
			display: none;
			transition: opacity 400ms;
		}

		// Link to single CPT.
		.cpt-link {
			@include position(absolute, 0 0 0 0);

			z-index: 3;
		}
	} // article
} // .cpt


.cpt {
	article:nth-child(1) {
		// grid-column-start: odd-start 0;
		// grid-row-start: odd-start 0;

		@include media($tablet-landscape) {
			grid-column-start: odd-start 1;
			grid-row-start: odd-start 1;
		}
	}

	article:nth-child(2) {
		// grid-column-start: even-start 1;
		// grid-row-start: even-start 1;

		@include media($tablet-landscape) {
			grid-column-start: even-start 1;
			grid-row-start: even-start 1;
		}
	}

	article:nth-child(3) {
		// grid-column-start: odd-start 2;
		// grid-row-start: odd-start 2;

		@include media($tablet-landscape) {
			grid-column-start: odd-start 2;
			grid-row-start: odd-start 1;
		}
	}

	article:nth-child(4) {
		// grid-column-start: even-start 1;
		// grid-row-start: even-start 0;

		@include media($tablet-landscape) {
			grid-column-start: even-start 2;
			grid-row-start: even-start 1;
		}
	}
} // .cpt
