//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------
.site-footer {
	padding-left: 270px;
	text-align: center;

	.dev-info {
		font-size: 14px;
	}

	span.heart {
		background-color: $color-turq;
		border-radius: 8px;
		color: $color-river;
		padding: 0 3px;
	}
} // .site-footer
