//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------
.site-footer {
	padding-left: 270px;
	text-align: center;

	.dev-info {
		font-size: 14px;
	}
} // .site-footer
