//--------------------------------------------------------------
// Header
//--------------------------------------------------------------
body {
	&.admin-bar {

		@include media($tablet-landscape) {
			padding-top: 28px;
		}
	}
}

.site-header {
	position: relative;

	.admin-bar & {
		margin-top: 16px;

		@include media($tablet-landscape) {
			margin-top: 48px;
		}
	}
} // .site-header

.site-title {
	font-family: $font-serif;
	font-size: 38px;
	line-height: 1.2;
	margin-bottom: $gutter;

	@include media($tablet-portrait) {
		font-size: 48px;
	}

	a {
		letter-spacing: 1.4px;
		text-decoration: none;
	}
}

.site-description {
	font-size: 24px;
	margin: 0 0 24px;
}
