//--------------------------------------------------------------
// Icons
//--------------------------------------------------------------

// Social icons <ul>
.social-icons {
	@include clearfix;
	@include list-reset;

	// Each icon <li>
	.social-icon {

		// Loop through all social icons
		@each $social-color, $color in $social-colors {

			// Set styles on those social icons!
			.icon-#{$social-color} {
				@include size(30px 30px);

				fill: $color;

				&:hover {
					fill: lighten($color, 20%);
				}
			}
		}

		// No margin for the last <li> item
		&:last-child {
			margin-right: 0;
		}
	}
}

.social-networks {
	@include clearfix;
	@include list-reset;

	@include media($tablet-portrait) {
		margin: $gutter 0 0 12px;
	}

	li {
		display: inline-block;

		&:not(:last-of-type) {
			margin-right: $gutter;
		}

		svg {
			@include size(20px);

			fill: $color-river;
		}

		a {
			display: block;
			font-size: 0;

			&:hover {
				svg {
					fill: $color-turq;
				}
			}
		}
	}
}
