
// ===BLOG CONTENT=== //

.betaBlog {
	padding-top:6%;
	display: flex;
	flex-direction:row;

}

.blogContent {
	display: flex;
	flex-direction:column;
	width: 70%;
	padding: 2% 4.5%;
}

.blogContent {
	.blog-title {
		margin:0;
	}
	p {
		margin:0;
	}

	a {
		color:#4C413F;
	}
}

// ===SIDEBAR=== //

.sidebar {
	display: flex;
	width: 30%;
	flex-direction:row;
	padding: 2% 0;

	h3.widget-title {
		color:#4C413F;
		margin:10px 0;
	}

	.widget-title:first-child {
		margin-top:0;
	}

	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
		}
	}
}

#tag_cloud-2 {
	max-width:300px;
}

// = Category & Tag Archive Section = //

.theta .content {
	display: flex;
	flex-wrap:wrap;
	h2.blog-title {
		font-size: 21px;
		margin-bottom:0;
	}
	.meta-data p {
		margin:0;
	}
}

h2.tagTitle {
	margin:0;
}

.theta .content article {
	width:31%;
	max-height:300px;
	overflow:hidden;
	&:not(:last-child) {
		margin-right:2%;
	}
}