// ===HEADER== // 

header {
	img {
		// height:350px;
	}
}

.hero {
	display:flex;
	align-items: center;
	justify-content: space-around;
}

h1 a.title {
	color:black;
	font-family: $serif;
	font-size:66px;
}

// ==NAV=== //

.sticky {
	width: 100%;
	z-index: 100;
	position: fixed;
	top: 0;
}


// MENU //

nav {
	// background-color: #515151;
	background-color: #4C413F;

	font-family: $sans;
	padding: 0;
	margin: 0;
}

ul.menu {
	margin:0;
	height:70px;
	width: 100%;
	display: flex;
		li {
		list-style-type: none;
		display: flex;
		margin: 0 auto;
		&:first-child {
			font-family: $serif;
			flex-grow: 1;
			align-content:space-between;
			display:none;
		}
			a {
				&:first-child {
					letter-spacing:2px;
				}
				color: white;
				display: block;
				padding:20px;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				letter-spacing: 4px;
				&:hover {
					text-decoration: underline;
				}
			}
	}
}

// a.menuIcon {
// 	// color: white;
// 	color: black;
// 	font-size: 24px;
// 	z-index: 999;
// 	position: absolute;
// 	left: 2%;
// 	top: 2%;
// 	letter-spacing: 2.5px;
// 	font-weight: 300;
// }