//--------------------------------------------------------------
// Widgets
//--------------------------------------------------------------

.widget {
	margin: 0 0 24px;

	// Make sure select elements fit in widgets
	select {
		max-width: 100%;
	}
}

// Search widget
.widget_search .search-submit {
	display: none;
}

.widget-area {
	width: 100%;

	&.footer {
		display: flex;
		justify-content: space-evenly;

		.widget {
			width: 100%;
		}
	} // &.footer

	ul {
		margin: 0;
	}

	.widget-title {
		margin: 0;
	}
} // widget-area
