//--------------------------------------------------------------
// Archive Template
//--------------------------------------------------------------
.archive {
	.article-wrapper {
		display: flex;

		article {
			@include size(26vw calc(26vw / 1.11));

			clip-path: url(#hexagono);
			clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
			font-size: 0;

			@include media($tablet-landscape) {
				@include size(18vw calc(18vw / 1.11));
			}

			a {
				display: block;
			} // a

			&:after {
				@include size(100%);
				@include position(absolute, 0 0 0 0);

				content: "";
				transition: background-color 0.2s linear;
				z-index: 2;
			} // &:after

			&.portfolio_category-2d {
				&:hover:after {
					background-color: rgba($color-neon, 0.7);
				}
			}

			&.portfolio_category-3d {
				&:hover:after {
					background-color: rgba($color-pink, 0.7);
				}
			}

			&.portfolio_category-installation {
				&:hover:after {
					background-color: rgba($color-turq, 0.7);
				}
			}

			&.portfolio_category-puppets {
				&:hover:after {
					background-color: rgba($color-yellow, 0.7);
				}
			}

			// Hover effect.
			&:hover {

				.cpt-title {
					@include position(absolute, 50% null null 0);

					box-sizing: border-box;
					color: $color-white;
					display: block;
					line-height: 1.2;
					margin: 0;
					padding: 0 20px;
					text-align: center;
					transform: translateY(-50%);
					width: 100%;
					z-index: 3;
				}
			} // &:hover

			// Title.
			.cpt-title {
				display: none;
				transition: opacity 400ms;
			}
		}
	} // .article-wrapper

	// 'Sort by' text.
	.filter-instruct {
		display: inline-block;
		margin-right: $gutter;
	}

	// List of custom taxonomy/category buttons.
	.filter-list {
		display: inline-block;
		vertical-align: top;
	}
} // .archive


.portfolio-cat-list {
	@include margin-padding-reset;

	margin-bottom: $gutter * 2;
	overflow: hidden;

	li {
		display: inline-block;
		float: left;

		&:not(:last-of-type) {
			margin-right: $gutter * 2;
		}

		a {
			color: $color-teal;
		}
	} // li

	.term-single {
		$colors: (#00ff40, #fe028d, #00ebc0, #f8d300);

		@for $i from 1 through length($colors) {

			&:nth-of-type(#{$i}) {
				button {
					border: 2px solid nth($colors, $i);
				}
			}
		} // for loop
	} // .term-single

	button {
		background-color: transparent;
		color: $color-teal;
		padding: 0 $gutter * 2;

		&.is-checked {
			border: 2px solid $color-teal;
		}
	}
} // .portfolio-cat-list

// Coming Soon Portfolio Placeholder section.
.coming-soon {
	position: relative;

	h2 {
		@include position(absolute, 50% 50% null null);

		color: $color-cod-gray;
		font-size: 25px;
		line-height: 1;
		margin: 0;
		transform: translate(50%, -50%);
		z-index: 1;

		@include media($tablet-landscape) {
			font-size: 42px;
		}
	}

	.hex-container {
		@include position(absolute, null null null 40%);

		transform: rotate(38deg);
	}

	// Individual hexagon stylings.
	.hex-one {
		@include hexagon(125px, $color-neon, -22deg);
	}

	.hex-two {
		@include hexagon(125px, $color-pink, -43deg);

		margin: 22px 0 0 51px;
	}

	.hex-three {
		@include hexagon(125px, $color-turq, -20deg);

		margin: 34px 0 0 8px;
	}

	.hex-four {
		@include hexagon(125px, $color-yellow, -15deg);

		margin: 42px 0 0 50px;
	}
}
