//--------------------------------------------------------------
// Archive Template
//--------------------------------------------------------------
.archive {
	.article-wrapper {
		display: flex;

		article {
			@include size(26vw calc(26vw / 1.11));

			clip-path: url(#hexagono);
			clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
			font-size: 0;

			@include media($tablet-landscape) {
				@include size(18vw calc(18vw / 1.11));
			}

			a {
				display: block;
			} // a

			&:after {
				@include size(100%);
				@include position(absolute, 0 0 0 0);

				content: "";
				transition: background-color 0.2s linear;
				z-index: 2;
			} // &:after

			// Hover effect.
			&:hover {

				&:after {
					background-color: rgba($color-turq, 0.7);
				}

				.cpt-title {
					@include position(absolute, 50% null null 0);

					box-sizing: border-box;
					color: $color-white;
					display: block;
					margin: 0;
					padding: 0 20px;
					text-align: center;
					transform: translateY(-50%);
					width: 100%;
					z-index: 3;
				}
			} // &:hover

			// Title.
			.cpt-title {
				display: none;
				transition: opacity 400ms;
			}
		}
	} // .article-wrapper

	// 'Sort by' text.
	.filter-instruct {
		display: inline-block;
		margin-right: $gutter;
	}

	// List of custom taxonomy/category buttons.
	.filter-list {
		display: inline-block;
		vertical-align: top;
	}
} // .archive


.portfolio-cat-list {
	@include margin-padding-reset;

	margin-bottom: $gutter * 2;
	overflow: hidden;

	li {
		display: inline-block;
		float: left;

		&:not(:last-of-type) {
			margin-right: $gutter * 2;
		}

		a {
			color: $color-teal;
		}
	} // li

	button {
		background-color: transparent;
		border: 1px solid $color-teal;
		color: $color-teal;
		padding: 0 $gutter * 2;
	}
} // .portfolio-cat-list
