//--------------------------------------------------------------
// Blog Landing
//--------------------------------------------------------------
.blog {
	.primary {
		max-width: 100%;

		@include media($tablet-portrait) {
			max-width: 70%;
		}
	}

	.secondary {

		@include media($tablet-portrait) {
			margin-left: 5%;
			max-width: calc(100% / 4);
		}
	}
} // home

.blog {

	.post {
		.entry-header {
			&:after {
				@include size(10% 3px);

				background-color: $color-turq;
				border-radius: 1.5px;
				content: "";
				display: block;
				margin-top: $gutter;
			}
		}

		.entry-footer {
			margin-top: $gutter * 2;
		}
	}

	// Category + tags
	.tags-links {
		display: block;
	}

	// Pagination links.
	.nav-links {
		.nav-next a:after,
		.nav-previous a:before {
			vertical-align: bottom;
		}
	}
}
