//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

// Structure

.wrap {
	margin: 0 auto;
	max-width: 1400px;

	padding: 0 2 * $gutter;

	@include media($desktop) {
		padding: 0;
	}
}

.site-header {
	@include size(270px 100%);
	@include position(fixed, 0 null null 0);

	background-color: white;
	box-sizing: border-box;
	z-index: 102;
}

.site-header {

	@include media($tablet-landscape) {
		padding: 0 2 * $gutter;
	}
}

.site-content {
	margin: 0 auto;
	overflow: hidden;
	padding-left: 270px;
	position: relative;

	@include media($desktop) {
		margin: 0 auto 60px;
	}
}

.primary,
.secondary {
	float: left;
}

.primary {

	@include media($tablet-landscape) {
		width: 100%;
	}
}

.secondary {

	@include media($tablet-landscape) {
		width: 25%;
	}
}
