//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

// Structure

.wrap {
	margin: 0 auto;
	max-width: 1400px;
	overflow: hidden;
	padding: 0 2 * $gutter;

	@include media($desktop) {
		padding: 0;
	}

	// Regular pages.
	.page & {
		max-width: 1100px;
	}

	// Front page.
	.home & {
		max-width: 1150px;
	}
} // .wrap

.site-header {
	box-sizing: border-box;

	@include media($tablet-landscape) {
		@include size(270px 100%);
		@include position(fixed, 0 null null 0);

		background-color: $color-white;
		z-index: 100;
	}
}

.site-header {

	@include media($tablet-landscape) {
		padding: 0 2 * $gutter;
	}
}

.site-content {
	margin: 0 auto;
	overflow: hidden;
	position: relative;

	@include media($tablet-landscape) {
		padding-left: 270px;
	}
}

.primary,
.secondary {
	float: left;
}

.primary {

	@include media($tablet-landscape) {
		width: 100%;
	}
}

.secondary {

	@include media($tablet-landscape) {
		width: 25%;
	}
}
